# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Temporary files
*.tmp
*.log

data/processed/job_market.db